In [1]:
import pandas as pd
import numpy as np

In [51]:
file = 'NY-snowfall-201703.csv'

df = pd.read_csv(file, index_col='GHCN ID', header=1)

# remove some columns
df.drop(df.columns[21:], axis=1, inplace=True)
df.drop(df.columns[5:17], axis=1, inplace=True)
df.drop(df.columns[[2]], axis=1, inplace=True)

# add state in as a convenience
state = file[:2]
df.insert(1, 'State', state)


#Â fix the letter values
df[df.columns[4:8]] = df[df.columns[4:8]].replace(['M', 'T'], 0.0)
df.head()

,Station Name,State,County,Latitude,Longitude,Mar 13,Mar 14,Mar 15,Mar 16
GHCN ID,,,,,,,,,
USC00300023,ADDISON,NY,STEUBEN,-77.23,42.10,0.0,1.4,0,1.7
US1NYER0085,AKRON 2.4 S,NY,ERIE,-78.49,42.99,0,2.5,15.0,3.5
US1NYAB0023,ALBANY 0.7 SW,NY,ALBANY,-73.81,42.66,0.0,5.5,17.7,T
USW00014735,ALBANY INTL AIRPORT,NY,ALBANY,-73.81,42.74,0.0,17.0,0,0.0
USC00300063,ALCOVE DAM,NY,ALBANY,-73.93,42.47,0,6.0,18.0,M